<launch>

  <node pkg="costmap_2d" type="costmap_2d_node" name="explore_costmap" output="screen">
    <rosparam file="$(find mrob_navigation)/config/costmap_common_params.yaml" command="load" ns="costmap" />
    <rosparam file="$(find mrob_navigation)/config/explore_costmap_params.yaml" command="load" />
  </node>

  <!-- explore_lite -->
  <node pkg="explore_lite" type="explore" respawn="false" name="explore" output="screen">
    <rosparam file="$(find mrob_navigation)/config/explore_lite_params.yaml" command="load" />
  </node>
</launch>